body {
    margin-left: 1em;
}

h1 {
    color: cadetblue
}

.line {
   # border: 1px solid blue;
    margin-bottom: 0.5em;
}

.subject {
    margin-bottom: 1em;
    color: darkslategray;
    font-size: 1.5em;
    font-weight: bold;
 #   border: 1px solid black;
}

#hiden_element {
    color: aquamarine;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    line-height: 5em;
    background-color: black;
    width: 20em;
    height: 5em;
}

.ukryj {
    display: none;
}

.label {
    color: chocolate;
    font-size: 1.5em;
 #   border: 1px solid black;
    display: inline-block;
    width: 8em;
}

#filmy {
    white-space: pre;
    line-height: 1.5em;
}

#url {
    color: green;
    width: 40em;
    text-align: left
}

#content {
    white-space: pre
}

#interval, #timeout {
    color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: inline-block;
   # border: 1px solid red;
    width: 4em
}

textarea {
    color: crimson;
    font-size: 1.5em;
    border: 1px solid red;
  #  display: inline-block;
    width: 14em;
    height: 4em;
    text-align: right;
}

input, #poka {
    color: crimson;
    font-size: 1.5em;
    border: 1px solid red;
    display: inline-block;
    width: 4em;
    text-align: right;
}

button {
    background-color: white;
    border: 1px solid red;
    font-weight: bold;
    color: crimson;
    margin: 1em 0em 1em 5em;
    width: 8em;
    height: 2em;
}

.jquery_subject {
    border: 1px solid green;
    margin-bottom: 0.5em;
    margin-top: 0;
    padding-left: 0.5em;
    font-size: 1.5em;
    color: black;
}

.jquery_button {
    background-color: white;
    border: 1px solid;
    border-color: darkgreen;
    font-weight: bold;
    background-color: darkseagreen;
    color: floralwhite;
    margin: 1em 0em 1em 5em;
    width: 8em;
    height: 2em;
}

.pierw {
    margin-left: 10em;
}
